@charset "UTF-8";


h1, h2, h3, h4, h5, h6, p, pre {
  white-space: pre-wrap;
  word-break: break-all;
}

.light {
  .copyright {
    color: #444444;
  }
}

.dark {
  .copyright {
    color: #eeeeee;
  }
}
