@charset "UTF-8";

$color-shine: #457dfc;
$color-main: #699ffc;
$color-sub: #f0f2f5;
$color-blockquote: #f0f2f5;
$color-href: #457dfc;
$color-h-href: #000000;
$color-hr: #e8e8e8;
$color-p: #dddddd;
$color-p-font: #272727;
$color-li: #444444;

.con {
  * {
    font-family: Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC, Microsoft YaHei;
  }

  a {
    color: $color-href !important;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-left: 20px;
    background: $color-main;
    color: $color-sub !important;
    border-radius: 3px;

    a {
      color: $color-h-href !important;
    }
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  h3 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  h4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  h5 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  h6 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  div > p {
    padding: 20px;
  }
  blockquote > p {
    padding: 13px 5px;
    background: $color-blockquote;
  }

  p {
    padding: 0;
    color: $color-p-font;
  }

  code {
    padding: 20px 50px;
  }

  hr {
    display: block;
    clear: both;
    width: 100%;
    min-width: 100%;
    height: 1px;
    margin: 24px 0;
    border: 0;
    background: $color-hr;
  }

  ul {
    padding: 0.5rem 0 0.3rem 0.7em;

    li {
      list-style: none;
      position: relative;
      padding: 0.3rem 0 0.3rem 2em;
      margin: 0 0 .5em 10px;
      -webkit-transition: .12s;
      transition: .12s;
      cursor: default;
      color: $color-li;
    }

    li::before {
      position: absolute;
      content: '\2022';
      color: $color-main;
      left: 0;
      text-align: center;
      font-size: 2em;
      opacity: .5;
      line-height: .75;
      -webkit-transition: .5s;
      transition: .5s;
    }

    li:hover {
      color: $color-shine;
    }

    li:hover::before {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      opacity: 1;
      text-shadow: 0 0 4px;
      -webkit-transition: .1s;
      transition: .1s;
    }
  }
}
